# Node-RED specific
flows.json
flows_cred.json
.config.json
.sessions.json

# Docker specific
flows-data/*
!flows-data/.gitkeep

# Node modules and logs
node_modules/
npm-debug.log

# Other
*.backup
*.log
*.tmp
